<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

{% include "include.html" %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables/extra/TableTools.css" media="screen"/>
{% endblock %}
<body>

    {% include "header.html" %}
    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    
        {% include "leftmenu.html" %}
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
            <br/>
            <!-- Inner Container Start -->
            <div class="container">

                <div class="mws-panel grid_8" style="margin-bottom:0px">
                    <div id="classcomperformancechart" style="width: 100%; height: 400px">
                    </div>
                </div>

                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
                Copyright Your Website 2012. All Rights Reserved.
            </div>
            
        </div>
        <!-- Main Container End -->
        
    </div>
    
    {% include "footer.html" %}
    <script type="text/javascript" src="/static/plugins/datatables/extra/TableTools.js"></script>
    <script type="text/javascript" src="/static/plugins/datatables/extra/ZeroClipboard.js"></script>
</body>
</html>
