<div id="edit-assessment-dialog" style="display:none">
<form id="edit-assessment-form" method="post" class="mws-form" action='{% url editassessment %}'>
    {% csrf_token %}
        <div id="edit-mws-validate-error" class="mws-form-message error" style="display:none;"></div>
        <input type="hidden" name='assessment_id' id='edit_assessment_id' val=""/>
        <div class="mws-form-inline">
            <div class="mws-form-row">
                <label class="mws-form-label">学期(2012年秋)</label>
                <div class="mws-form-item large">
                    <input type="text" id='editterm' name='term' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">开始日期</label>
                <div class="mws-form-item large">
                    <input type="text" name='begindate' id='editbegindate' style="width:120px;" readonly="readonly"  class="mws-datepicker"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">结束日期</label>
                <div class="mws-form-item large">
                    <input type="text" id='editenddate' name='enddate' style="width:120px;" readonly="readonly"  class="mws-datepicker"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">优(%)</label>
                <div class="mws-form-item large">
                    <input type="text" id='editexcellent' name='excellent' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">良(%)</label>
                <div class="mws-form-item large">
                    <input type="text" id='editgood' name='good' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">中(%)</label>
                <div class="mws-form-item large">
                    <input type="text" id='editordinary' name='ordinary' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
        </div>
    </form>
</div>
