<div id="add-behavior-dialog" style="display:none">
<form id="add-behavior-form" method="post" class="mws-form" action='{% url addbehavior %}'>
    {% csrf_token %}
        <div class="mws-form-inline">
            <div class="mws-form-row">
                <label class="mws-form-label">级别</label>
                <div class="mws-form-item large">
                    <div id='addactlevel'>
                        <input type="radio" id='addactlevel0' name='actlevel' value='0'/><label for='addactlevel0'>学校</label>
                        <input type="radio" id='addactlevel1' name='actlevel' value='1'/><label for='addactlevel1'>学院</label>
                    </div>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">名称</label>
                <div class="mws-form-item large">
                    <input type="text" id='addbehaviorname' name='behaviorname' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
        </div>
    </form>
</div>
