<div id="add-development-dialog" style="display:none">
<form id="add-development-form" method="post" class="mws-form" action='{% url adddevelopment %}'>
    {% csrf_token %}
        <div class="mws-form-inline">
            <div class="mws-form-row">
                <label class="mws-form-label">个性发展大类</label>
                <div class="mws-form-item large">
                    <div id='adddevelopmentlevel'>
                        <input type="radio" id='adddevelopmentlevel0' name='developmentlevel' value='0'/><label for='adddevelopmentlevel0'>组织管理</label>
                        <input type="radio" id='adddevelopmentlevel1' name='developmentlevel' value='1'/><label for='adddevelopmentlevel1'>创新</label>
                        <input type="radio" id='adddevelopmentlevel2' name='developmentlevel' value='1'/><label for='adddevelopmentlevel2'>其他</label>
                    </div>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">名称</label>
                <div class="mws-form-item large">
                    <input type="text" id='adddevelopmentname' name='developmentname' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
        </div>
    </form>
</div>
